version: 2.1
commands:
  install-rust:
    steps:
      - run:
          name: Install Rust
          command: |
            sudo apt-get update
            sudo apt-get -y install apt-utils cmake pkg-config libssl-dev git llvm clang
            if [ ! -d /home/circleci/.cargo ]; then
              curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
            fi
            source ~/.cargo/env
            rustup install $RUST_VERSION
            rustup default $RUST_VERSION
            rustup install nightly-2020-04-17
            rustup target add wasm32-unknown-unknown --toolchain=nightly-2020-04-17
            rustup target add x86_64-unknown-linux-musl --toolchain=$RUST_VERSION
            export RUSTC_WRAPPER="" # sccache is uninstalled at this point so it must be unset here for `wasm-gc` install
            command -v wasm-gc || cargo install --git https://github.com/alexcrichton/wasm-gc --force
            rustc --version; cargo --version; rustup --version
  install-sccache:
    steps:
      - run:
          name: Install sccache
          command: |
            curl -L https://github.com/mozilla/sccache/releases/download/0.2.10/sccache-0.2.10-x86_64-unknown-linux-musl.tar.gz | tar -xz
            chmod +x sccache-0.2.10-x86_64-unknown-linux-musl/sccache
            mv sccache-0.2.10-x86_64-unknown-linux-musl/sccache ~/.cargo/bin/sccache
            sccache --version
  restore-cache:
    steps:
      - restore_cache:
          name: Restore sccache
          key: sccache-{{ arch }}-{{ .Environment.RUST_VERSION }}-{{ .Environment.CIRCLE_JOB }}
  save-cache:
    steps:
      - save_cache:
          name: Save sccache
          # We use {{ epoch }} to always upload a fresh cache:
          # Of course, restore_cache will not find this exact key,
          # but it will fall back to the closest key (aka the most recent).
          # See https://discuss.circleci.com/t/add-mechanism-to-update-existing-cache-key/9014/13
          key: sccache-{{ arch }}-{{ .Environment.RUST_VERSION }}-{{ .Environment.CIRCLE_JOB }}-{{ epoch }}
          paths:
            - "~/.cache/sccache"
  cargo-check:
    steps:
      - run:
          name: Build
          command: |
            cargo --version
            cargo check
          no_output_timeout: 30m
  cargo-build-test:
    steps:
      - run:
          command: cargo test --no-run --release --all
          no_output_timeout: 30m
  cargo-run-test:
    steps:
      - run:
          command: |
            cargo --version
            cargo test --release --all
          no_output_timeout: 30m
jobs:
  build:
    machine:
      image: ubuntu-1604:201903-01
    steps:
      - run: echo "successfully built and tested"
  build-bin:
    machine:
      image: ubuntu-1604:201903-01
    resource_class: large
    environment:
      BASH_ENV: ~/.cargo/env
      RUST_VERSION: 1.44.1
      RUSTC_WRAPPER: sccache
      SCCACHE_CACHE_SIZE: 10G
    steps:
      - checkout
      - install-rust
      - install-sccache
      - restore-cache
      - cargo-check
      - save-cache
  build-test-and-run:
    machine:
      image: ubuntu-1604:201903-01
    resource_class: large
    environment:
      BASH_ENV: ~/.cargo/env
      RUST_VERSION: 1.44.1
      RUSTC_WRAPPER: sccache
      SCCACHE_CACHE_SIZE: 10G
    steps:
      - checkout
      - install-rust
      - install-sccache
      - restore-cache
      - cargo-build-test
      - save-cache
      - cargo-run-test
  publish-docker:
    machine:
      image: ubuntu-1604:201903-01
    steps:
      - checkout
      - run:
          name: Build and publish Docker image
          command: |
            docker login -u $DOCKER_LOGIN -p $DOCKER_PASSWORD
            if [ -z "${CIRCLE_TAG}" ]; then
              GIT_SHORT="${CIRCLE_SHA1:0:8}"
              if [ "${CIRCLE_BRANCH}" == "develop" ]; then
                VERSION="latest"
              else
                VERSION="${CIRCLE_BRANCH////-}"
              fi
              DOCKER_TAG="$VERSION-$GIT_SHORT"
            else
              DOCKER_TAG="${CIRCLE_TAG}"
            fi
            docker build --pull -t plugnet/plugblockchain:$DOCKER_TAG -f ./.maintain/Dockerfile .
            docker push plugnet/plugblockchain:$DOCKER_TAG
          no_output_timeout: 60m
workflows:
  version: 2
  build-test-publish:
    jobs:
      - build-bin
      - build-test-and-run
      - build:
          requires:
            - build-bin
            - build-test-and-run
      - publish-docker:
          requires:
            - build
          filters:
            branches:
              only:
                - /^[0-9]+[.][0-9]+[.][0-9]+(-rc[0-9]+)*$/
                - master
